Source: libpthread-workqueue
Section: libs
Priority: extra
Maintainer: Mark Heily <mark@heily.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Vcs-Svn: svn://mark.heily.com/libpthread_workqueue
Homepage: http://mark.heily.com/proj/libpthread_workqueue

Package: libpthread-workqueue0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TBD
 TBD.

Package: libpthread-workqueue-dev
Section: libdevel
Architecture: any
Depends: libpthread-workqueue0 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libpthread-workqueue
 Contains the header files, manpages, and static libraries for use in 
 developing applications that use the libpthread-workqueue library.
