#!/usr/bin/make -f

CC := clang
CXX := clang++
CMAKE_FLAGS = \
	-DCMAKE_C_COMPILER=clang \
	-DCMAKE_CXX_COMPILER=clang++ \
	-DCMAKE_BUILD_TYPE=Release	\
	-DSTATIC_KQUEUE=ON \
	-DSTATIC_WORKQUEUE=ON \

%:
	dh --with quilt $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_install:

	dh_install -O--buildsystem=cmake
